body {
  font-family: "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  line-height: 1.55;
  color: #111;
  overflow-y: scroll;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 20px;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 40px 0 20px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 100;
}

@media (min-width: 768px) {
  body > header {
    flex-direction: row;
    align-items: center;
  }
}

main {
  padding-top: 20px;
  flex: 1;
}

footer::before {
  content: "======================================================================================================================================";
  overflow: hidden;
  display: block;
  padding-bottom: 1rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
.alert,
.post-link time {
  display: block;
  margin: 0 0 1.15rem;
}

a {
  color: blue;
}

code,
pre code {
  font-family: "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background: #f4f4f4;
  padding: 0.15rem 0.25rem;
}

pre code {
  display: block;
  padding: 1rem;
  overflow-x: auto;
}

ul {
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.55;
  font-size: 1rem;
  text-transform: uppercase;
}

h2::before {
  content: "#";
  color: #ff4136;
  padding-right: 0.33rem;
}

img {
  width: 800px;
  max-width: 100%;
  display: block;
}

.alert {
  color: #b10dc9;
  font-weight: bold;
}